# Transformation from thermal circuit to state-space

Uses the data given in the paper:
> [Ghiaus, C. (2013)](https://hal.science/hal-03605823/document). Causality issue in the heat balance method for calculating the design heating and cooling load. Energy, 50, 292-301.

In [1]:
import pandas as pd
import pd_dm4bem

## File to thermal circuit using symbols

Let's consider the thermal circuit with symbols for numbering the temperature nodes and oriented flow branches (Figure 1). 

![tc_sym](./TC_tc2ss/tc2ss_sym.svg)
> Figure 1. Thermal circuit with symbols.

The thermal circuit from Figure 1 is defined in the file `./TC_tc2ss/TC_tc2ss_sym.csv`.

In [2]:
pd.read_csv('./TC_tc2ss/TC_tc2ss_sym.csv')

     A  θso         θw  θsi       θa      G    b
0  qw0   -1        1.0  NaN      NaN    2.9  NaN
1  qw1  NaN       -1.0    1      NaN    2.9  NaN
2   qv  NaN        NaN  NaN        1   38.3  Tov
3  qco    1        NaN  NaN      NaN  250.0  Tow
4  qci  NaN        NaN   -1        1  125.0  NaN
5    C  NaN  4000000.0  NaN  8.2E+04    NaN  NaN
6    f   Qo        NaN   Qi       Qg    NaN  NaN
7    y  NaN        NaN    1        1    NaN  NaN

### Auto-numbering

The nodes and oriented branches can be auto-numbered. The names of the nodes and branches are composed by the name of the circuit and θ0, θ1, ... , for nodes and q0, q1, ... for branches, e.g., a_θ1.

In [3]:
TC_file = "TC_tc2ss/TC_tc2ss_sym.csv"
TC = pd_dm4bem.file2TC(TC_file, name="a", auto_number=True)
[Asa, Bsa, Csa, Dsa, ua] = pd_dm4bem.tc2ss(TC)
Asa

          a_θ1          a_θ3
a_θ1 -0.000001  7.085614e-07
a_θ3  0.000035 -5.016371e-04

### Symbols
Alternatively, the nodes and branches can keep the names they

In [4]:
TC_file = "TC_tc2ss/TC_tc2ss_sym.csv"
TC = pd_dm4bem.file2TC(TC_file, name="s")
[Ass, Bss, Css, Dss, us] = pd_dm4bem.tc2ss(TC)
Ass

          s_θw          s_θa
s_θw -0.000001  7.085614e-07
s_θa  0.000035 -5.016371e-04

Note that the order of symbols corespond to the order given in the description file `./TC_tc2ss/TC_tc2ss_num.csv`not to the alphabetical order.

## File to thermal circuit using numbers

Instead of using symbols, the thermal circuit can be numbered (Figure 2).

![tc_num](./TC_tc2ss/tc2ss_num.svg)
> Figure 2. Numbered thermal circuit

The thermal circuit from Figure 1 is defined in the file `./TC_tc2ss/TC_tc2ss_num.csv`.

In [5]:
pd.read_csv('./TC_tc2ss/TC_tc2ss_num.csv')

    A   θ0   θ1       θ2         θ3      G    b
0  q0  NaN  NaN        1        NaN   38.3  Tov
1  q1    1  NaN      NaN        NaN  250.0  Tow
2  q2   -1  NaN      NaN        1.0    2.9  NaN
3  q3  NaN    1      NaN       -1.0    2.9  NaN
4  q4  NaN   -1        1        NaN  125.0  NaN
5   C  NaN  NaN  8.2E+04  4000000.0    NaN  NaN
6   f   Qo   Qi       Qg        NaN    NaN  NaN
7   y  NaN    1        1        NaN    NaN  NaN

In [6]:
TC_file = "TC_tc2ss/TC_tc2ss_num.csv"
TC = pd_dm4bem.file2TC(TC_file, name="a")
[Asn, Bsn, Csn, Dsn, un] = pd_dm4bem.tc2ss(TC)
Asn

              a_θ2      a_θ3
a_θ2 -5.016371e-04  0.000035
a_θ3  7.085614e-07 -0.000001

Note that the values of the state-space representations are the same but the order os different. The order is given by the `.cvs` files that define the thermal circuit.